import /microtrust.rc

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

#Stock
#on init
    
#    setprop sys.usb.configfs 1
#    setprop sys.usb.ffs.aio_compat 1

#on fs && property:ro.debuggable=0
    ## distinguish USB shoulde connect or not, i.e. CDP vs SDP
    #write /sys/class/udc/musb-hdrc/device/cmode 2
    ## set charging free due to it wait for USB activation
    #start adbd
##end stock

on post-fs
    mkdir /mnt/vendor 0700 root root
    mkdir /mnt/vendor/protect_f 0700 root root
    mkdir /mnt/vendor/protect_s 0700 root root
    mkdir /mnt/vendor/nvdata 0700 root root
    mkdir /mnt/vendor/nvcfg 0700 root root
    mkdir /mnt/vendor/persist 0700 root root
    mount ext4 /dev/block/platform/bootdevice/by-name/protect1 /mnt/vendor/protect_f
    mount ext4 /dev/block/platform/bootdevice/by-name/protect2 /mnt/vendor/protect_s
    mount ext4 /dev/block/platform/bootdevice/by-name/nvdata /mnt/vendor/nvdata
    mount ext4 /dev/block/platform/bootdevice/by-name/nvcfg /mnt/vendor/nvcfg
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist
    symlink /mnt/vendor/protect_f /vendor/protect_f
    symlink /mnt/vendor/protect_s /vendor/protect_s
    symlink /mnt/vendor/nvcfg /vendor/nvcfg
    symlink /mnt/vendor/nvdata /vendor/nvdata

    install_keyring
    
    #Stock
    ## Support A/B feature for EMMC and UFS boot region
    #symlink /dev/block/sda /dev/block/mmcblk0boot0
    #symlink /dev/block/sdb /dev/block/mmcblk0boot1
    #symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    #symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    #symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    #symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    #symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    #symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    # Support A/B feature for combo emmc and ufs OTA update
    #symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    #symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    #symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    #symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b
    #end stock

service vendor.vibrator-1-0 /vendor/bin/hw/android.hardware.vibrator@1.0-service
    class hal
    user system
    group system

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service capi-2-0 /system/bin/vendor.microtrust.hardware.capi@2.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    write /proc/bootprof "start teei_daemon (on fs)"
    start teei_daemon
    write /proc/bootprof "start teei_daemon end (on fs)"
    start keymaster-4-0
    start gatekeeper-1-0
    start capi-2-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop capi-2-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop capi-2-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop capi-2-0
    stop servicemanager
    stop hwservicemanager
